body{
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfb;
    font-family: Consolas,Lucida Console,'Courier New',monospace,'Times New Roman',Cambria ,Georgia;
}
::selection{
    background-color: #eeeeee;
    text-shadow:-0.03em -0.03em 0.15em #ededed, 0.03em 0.03em 0.15em black;
    color: #ededed;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background-color: rgba(1, 1, 1, .2);
}
a{
    text-decoration: none;
}
main{
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
}
.box1{
    text-align: center;
    position: relative;
    overflow: hidden;
    
}
.box{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    border-top: 1px solid #dddddd
}
.title{
    font-size: 100px;
    font-weight: 100;
    position: relative;
    top: 35vh;
    font-family: Book antiqua ,Bookman Old Style;
    transform: scale(1,1.3);
    transition: 0.7s;
    transition-delay: 0.5s;
    letter-spacing: 50px;
    background-color: #fbfbfb;
    text-shadow:0.03em 0.03em 0em #858585, 0.04em 0.04em 0.1em black;
    color: #fafafa;
}
.title:hover{
    transform: scale(1,1);
    letter-spacing: 100px;
}
.desc{
    position: relative;
    bottom: -55vh;
    display: inline-block;
    width: 520px;
    font-weight: 100;
    font-family: 微软雅黑;
    letter-spacing: 7px;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: corr 10s steps(37) 2s infinite normal both,
    rbor 600ms steps(37) infinite normal both;
}
@media screen and (max-width: 1000px) and (min-width: 0px) {
    .title{
        font-size: 40px;
        letter-spacing: 10px;
    }
    .title:hover{
        transform: scale(1,1);
        letter-spacing: 20px;
    }
    .desc{
        font-size: 10px;
        letter-spacing: 4px;
        animation: corr2 10s steps(37) 2s infinite normal both,
        rbor 600ms steps(37) infinite normal both;
    }
}
@keyframes rbor {
    from{border-right-color: black;}
    to{border-right-color: transparent;}
}
@keyframes corr {
    0%{width: 0px;}
    30%{width:520px}
    80%{width:520px}
    90%{width: 0px;}
    100%{width: 0px;}
}
@keyframes corr2 {
    0%{width: 0px;}
    30%{width:310px}
    80%{width:310px}
    90%{width: 0px;}
    100%{width: 0px;}
}
.droparrow{
    position: relative;
    bottom: -79vh;
    font-size: 30px;
    color: black;
    
}
.droparrow i{
    position: relative;
    animation: droparrowa 0.6s ease-out 0s infinite alternate both ;
    cursor: pointer;
}
@keyframes droparrowa {
    from{color: rgba(0, 0, 0, .3); bottom: 0px;}
    to{color: rgba(0, 0, 0, .8); bottom: 15px;}
}

.box2{
    
    box-shadow:inset 0px 18px 50px #fbfbfb;
}
.item2{
    height: 28vh;
    width: 100vw;
    margin-top: 30vh;
    text-align: center;
}
.item2 .items{
    display: inline-block;
    height: 15vh;
    width: 15vh;
    margin: 4vh 4vw;
    background-color: #fbfbfb;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),
    inset 5px 5px 20px rgba(0, 0, 0, 0.5),inset -5px -5px 3px rgba(255, 255, 255, .2);
    background-size: 103%;
    
}
.item2 .items:hover{
    box-shadow:5px 5px 3px #d1d1d1, 8px 8px 18px rgba(0, 0, 0, .7),
    inset 0px 0px 0px rgba(0, 0, 0, 0),inset 0px 0px 0px rgba(0, 0, 0, .3);
    background-position: -3px -3px;
}
.item2 .items a{
    display: block;
    width: 100%;
    height: 100%;
}
.item2 .i1{
    background-image: url(/assets/img/f_f_business_41_s256_f_business_41_1bg.png);
}
.item2 .i2{
    background-image: url(/assets/img/f_f_business_79_s256_f_business_79_2bg.png);
}
.item2 .i3{
    background-image: url(/assets/img/f_f_object_42_s256_f_object_42_1bg.png);
}
.item2 .i4{
    background-image: url(/assets/img/f_f_object_20_s256_f_object_20_1bg.png);
}
.show{
    width: 70vw;
    height: 80vh;
    margin: 8vh auto;
    border-radius: 20px;
    background-size: 120%;
    background-position: 50% 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),
    inset 5px 5px 20px rgba(0, 0, 0, 0.5),inset -5px -5px 3px rgba(255, 255, 255, .4);
    text-align: center;
}
.show .items{
    display: inline-block;
    height: 60%;
    width: 20%;
    background-color: #fbfbfb;
    margin: 10% 4%;
    border-radius: 20px;
    /* float: inline-start; */
    transition: .3s;
    transition-delay: .3s;
    border: 1px rgba(100, 100, 100, .2) solid;
}
.show .items:hover{
    box-shadow:5px 5px 3px #d1d1d1, 8px 8px 18px rgba(0, 0, 0, .7), 2px 2px 2px #000000;
    border: 1px rgba(255, 255, 255, 1) solid;
    transform: translateX(-5px) translateY(-5px);
    transform: scaleX(1.04) scaleY(1.04);
}